#webglNotSupportedDiv {
    position: absolute;
    top: 0;
    visibility: hidden;
}

#selectionPaneDiv {
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  border: none;
  white-space: nowrap;
}

/*#timeSlider {*/
/*    position: absolute;*/
/*    left: 100px;*/
/*    right: 100px;*/
/*    bottom: 20px;*/
/*}*/
