html, body, .grid-container {
    height: calc(100% - 40px);
    margin: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
    grid-template-areas: "upload-panel view-panel";
}

.view-panel {
    grid-area: view-panel;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    overflow: auto;
}

.upload-panel {
    display: grid;
    grid-template-rows: 0.6fr 1.4fr;
    gap: 20px 0px;
    grid-template-areas: "drop-area" "upload-list";
    grid-area: upload-panel;
}

.upload-list {
    grid-area: upload-list;
    border: 2px solid #ccc;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.drop-area {
    grid-area: drop-area;
    border: 2px dashed #ccc;
    border-radius: 20px;
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.drop-area.highlight {
    border-color: #5b5b5b;
    background-color: #e0e0e0;
}


