<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Upload</title>


    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dataUpload/grid.css' %}">





</head>
<body>


<div class="grid-container">
    <div class="view-panel"></div>
    <div class="upload-panel">
        <div id="upload-list" class="upload-list"></div>
        <div id="drop-area" class="drop-area">
            <form class="my-form">
                <h2 style="text-align: center; ">Drag files here to upload</h2>
                <input type="file" id="fileElem" multiple accept="*" onchange="handleFiles(this.files)">
                <label class="button" for="fileElem">Select some files</label>
            </form>
        </div>
    </div>
</div>


<script>
    let dropArea = document.getElementById('drop-area')

    ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false)
    })

    function preventDefaults (e) {
        e.preventDefault()
        e.stopPropagation()
    }

    ;['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false)
    })

    ;['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, unhighlight, false)
    })

    function highlight(e) {
        dropArea.classList.add('highlight')
    }

    function unhighlight(e) {
        dropArea.classList.remove('highlight')
    }


    dropArea.addEventListener('drop', handleDrop, false)

    function handleDrop(e) {
        let dt = e.dataTransfer
        let files = dt.files

        handleFiles(files)
    }

    function handleFiles(fileList) {
        for (const file of fileList) {
            const name = file.name ? file.name : 'NOT SUPPORTED';
            const type = file.type ? file.type : 'NOT SUPPORTED';
            const size = file.size ? file.size : 'NOT SUPPORTED';
            console.log({name, type, size});
            readFile(file);
        }
    }


    let uploadList = document.getElementById('upload-list');

    function readFile(file) {
        const reader = new FileReader();

        let newBar = document.createElement('div');
        newBar.classList.add('tmpLoad');
        uploadList.appendChild( newBar );
        let content = document.createTextNode(file.name);
        newBar.appendChild(content);

        reader.addEventListener('load', (event) => {
            const result = event.target.result;
            // Do something with result
        });

        // reader.addEventListener('progress', (event) => {
        //     if (event.loaded && event.total) {
        //         const percent = (event.loaded / event.total) * 100;
        //         newBar.value = percent
        //     }
        // });

        reader.readAsDataURL(file);
    }





</script>

</body>
</html>